<title>Wordles of the World</title>
<link href="gfx/logo.png" rel="icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet">

<link crossorigin="anonymous" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" rel="stylesheet">
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="style.css" rel="stylesheet">

<script crossorigin="anonymous" src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js"></script>
<script src="https://code.jquery.com/jquery-git.js"></script>

<meta content="An ever-growing multilingual list of Wordle-like games from all over the world 🟩🟩🟩🟩🟩" name="description">
<meta content="Wordle, game, list, multilingual, word, games, multilingualism, words" name="keywords">
<meta content="Júda Ronén" name="author">
<meta content="🟩 Wordles of the World" property="og:title">
<meta content="website" property="og:type">
<meta content="https://rwmpelstilzchen.gitlab.io/wordles/gfx/wordle/wordle.png" property="og:image">
<meta content="https://rwmpelstilzchen.gitlab.io/wordles/" property="og:url">
<meta content="An ever-growing multilingual list of Wordle-like games from all over the world 🟩🟩🟩🟩🟩" property="og:description">
<meta content="summary_large_image" name="twitter:card">
<meta content="@judaronen" name="twitter:creator">
